/*HEART*/
/*   */
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "sans-serif";
  font-family: "Shrikhand", "sans-serif";
}

/*--BUTTON--*/
.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  padding: 25px;
}
.button__color {
  border-radius: 30px;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 0.95em;
  width: 62%;
  height: 50px;
  background: linear-gradient(#e872da, #9356dc);
  box-shadow: 0px 5px 20px rgb(196, 196, 196);
  transition: box-shadow 300ms, filter 500ms;
  cursor: pointer;
}
.button__color:hover {
  box-shadow: 0px 5px 10px rgb(51, 51, 51);
  filter: brightness(1.1);
}

.restaurants__content__icone {
  display: flex;
  justify-content: center;
  width: 26%;
}
.restaurants__content__icone .fa-heart {
  font-size: 1.5em;
}
.restaurants__content__icone__wrap {
  width: 25px;
  position: absolute;
  margin-top: -5px;
  margin-left: 0px;
}
.restaurants__content__icone__wrap:hover > .restaurants__content__icone__wrap__map--colorA, .restaurants__content__icone__wrap:hover > .restaurants__content__icone__wrap__map--colorB {
  animation: scale 500ms;
}
@keyframes scale {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.3);
    margin-top: -60px;
    opacity: 1;
  }
}
.restaurants__content__icone__wrap__image {
  width: 100%;
  opacity: 0;
  transition: 500ms ease;
}
.restaurants__content__icone__wrap:hover > .restaurants__content__icone__wrap__image {
  opacity: 1;
}
.restaurants__content__icone__wrap__map--colorA {
  width: 50px;
  height: 40px;
  position: absolute;
  margin-top: -50px;
  margin-left: -12px;
  margin-top: -50px;
  margin-left: -12px;
  transition: 600ms;
  opacity: 0;
  background-color: white;
}
.restaurants__content__icone__wrap__map--colorB {
  width: 50px;
  height: 40px;
  position: absolute;
  margin-top: -50px;
  margin-left: -12px;
  margin-top: -50px;
  margin-left: -12px;
  transition: 600ms;
  opacity: 0;
  background-color: #f6f6f6;
}

/*HEADER*/
img.logo {
  width: 100%;
  font-size: 10px;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 20px;
  padding-bottom: 15px;
}

/*FOOTER*/
.footer {
  background-color: #353535;
  width: 100%;
  padding: 10px;
}

.footer__title {
  font-size: larger;
  color: white;
  font-family: "shrikhand", sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 10px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: white;
}
.footer__list__icone {
  display: flex;
  align-items: center;
}

footer p {
  margin: 5px 0 5px 0;
}

a.footer__link {
  width: 200px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.fa-solid, .fas {
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
}

.fa footer {
  padding: 10px;
}

i.fa-solid.fa-utensils.fa-footer {
  margin-right: 15px;
}

i.fa-solid.fa-handshake-angle.fa-footer {
  margin-right: 10px;
}

ul {
  margin: 0;
  padding: 0;
  display: contents;
  list-style-type: none;
}

li {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

/*--LOADER--*/
.loader {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  transition: opacity 6s ease-in-out, visibility ease-in-out;
  visibility: hidden;
  filter: brightness(1.2);
  animation: opacity 5s ease-in-out;
}
@keyframes opacity {
  0% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loader .container__top {
  background: linear-gradient(#e872da, #9356dc);
  border-bottom: 2px solid black;
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  animation: opentop 5s ease-in;
}
@keyframes opentop {
  0% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
.loader .container__bottom {
  background: linear-gradient(#9356dc, #e872da);
  border-top: 2px solid black;
  position: absolute;
  width: 100%;
  height: 75%;
  top: 50%;
  animation: openbottom 5s ease-in;
}
@keyframes openbottom {
  0% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
.loader .title__loader {
  position: absolute;
  top: 44%;
  font-family: "Roboto", "sans-serif";
  z-index: 2;
  filter: drop-shadow(4px -1px 2px white);
  animation: translate 500ms ease-in;
}
@keyframes translate {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50%);
  }
}
.loader .circle__central {
  border: 5px solid black;
  box-shadow: 0px 5px 20px rgb(196, 196, 196);
  border-top: 5px solid #FF79DA;
  border-bottom: 5px solid #9356dc;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  filter: brightness(1.5);
  animation: rotate 1s ease-in-out infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader .circle__exterieur {
  border: 10px solid #FF79DA;
  border-top: 10px solid black;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  box-shadow: 0px 5px 20px rgb(196, 196, 196);
  transform: rotate(45deg);
  filter: brightness(1.6);
  animation: rotatecircle 1s ease-in-out infinite;
}
@keyframes rotatecircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

* {
  box-sizing: border-box;
}

body {
  /*max-width: 375px;*/
  max-width: 1440px;
  margin: auto;
  font-family: "Roboto", "sans-serif";
}

h1 {
  font-family: "Shrikhand", "sans-serif";
  font-size: 1.8em;
  font-weight: 500;
}

/*LOCATION*/
.location {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
  border-top: solid 4px rgba(202, 202, 202, 0.4588235294);
}
.location__icone {
  font-size: 1em;
  margin-right: 20px;
}
.location__texte {
  font-weight: 600;
}

.search {
  border-radius: 0;
  border: 0;
}

/*MAIN*/
.container__main {
  background-color: #f6f6f6;
  padding-top: 10px;
  padding-bottom: 30px;
}

.main {
  text-align: center;
}
.main__texte {
  margin: 0;
}

/*FONCTIONING*/
.fonctioning__title {
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 15px;
}

.btn__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  display: flex;
  align-items: center;
  border-radius: 20px;
  width: 85%;
  height: 70px;
  margin: 10px;
  box-shadow: 0px 5px 20px rgb(196, 196, 196);
  transition: box-shadow 600ms, background-color 600ms, color 600ms;
}
.btn:hover {
  cursor: pointer;
  color: #9356dc;
  background-color: #f5edff;
  box-shadow: 0px 5px 10px rgb(51, 51, 51);
}
.btn__form {
  background-color: #9356dc;
  border-radius: 44px;
  width: 25px;
  height: 25px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: -15px;
  padding: 10px;
}
.btn__form__content {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 15px;
}
.btn__form__content__icone {
  width: 15%;
}
.btn__form__content__text {
  font-weight: 600;
  color: black;
}

/*RESTAURANTS*/
.restaurants {
  width: 100%;
  background-color: #f6f6f6;
  margin: 0;
}
.restaurants__title {
  margin-left: 20px;
  margin-top: 50px;
  padding-top: 50px;
}

.restaurants__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 1000px;
  padding-bottom: 50px;
}
.restaurants__cards__card {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 23%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 5px 20px rgb(196, 196, 196);
  color: black;
  transition: box-shadow 500ms;
}
.restaurants__cards__card:hover {
  cursor: pointer;
  box-shadow: 0px 5px 10px rgb(51, 51, 51);
}
.restaurants__cards__card__image__wrap {
  position: relative;
  overflow: hidden;
  height: 70%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurants__cards__card__image__wrap__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.restaurants__cards__card__image__wrap__image__texte[data-active=true] {
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  margin-left: 72%;
  font-size: 0.8em;
  font-weight: 600;
  padding: 5px 10px 5px 10px;
}

.restaurants__content {
  display: flex;
  align-items: center;
}
.restaurants__content__texte {
  width: 80%;
  margin-left: 10px;
}
.restaurants__content__texte__title {
  margin-top: 10px;
  margin-bottom: 5px;
}
.restaurants__content__texte__texte {
  margin-top: 0px;
}

/*--MEDIA QUERIES STYLE 777px--*/
@media (min-width: 777px) {
  .container__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  h2.fonctioning__title {
    margin-top: 15px;
    margin-bottom: 0px;
  }
  .btn__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .btn {
    margin: 20px;
  }
  .restaurants__cards {
    display: flex;
    flex-direction: row;
    height: 480px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .restaurants__cards__card {
    height: 200px;
    width: 47%;
  }
  .restaurants__title {
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
/*--MEDIA QUERIES STYLE 992px--*/
@media (min-width: 992px) {
  .restaurants__cards__card__image__wrap {
    height: 90%;
  }
  .restaurants__cards__card {
    height: 415px;
    width: 22%;
  }
  .restaurants__cards__card__image__wrap__image__texte[data-active=true] {
    margin-left: 60%;
  }
}
/*HEADER*/
.icone__return {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
}

.fa-arrow-left {
  color: black;
}

.main__menu {
  width: 100%;
  position: relative;
  cursor: pointer;
}
.main__menu__content {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -50px;
  position: relative;
}
.main__menu__content__title {
  font-family: "Shrikhand", "sans-serif";
  font-size: 1.6em;
  padding: 15px;
  flex: 1;
}

/*--MENU*/
.image__menu__wrap {
  position: relative;
  height: 250px;
  width: 100%;
}

.image__menu__wrap__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.title {
  background-color: #f6f6f6;
  padding-bottom: 10px;
}

.subtitle {
  padding: 10px 0px 3px 0px;
  margin: 0;
  width: 42px;
  border-bottom: #99E2D0 solid 3px;
  margin-left: 15px;
}

.cards__card {
  display: flex;
  height: 70px;
  border-radius: 15px;
  background-color: white;
  margin: 15px;
  box-shadow: 0px 5px 20px rgb(196, 196, 196);
  transition: transform 2s;
  overflow: hidden;
}
.cards__card--1, .cards__card--2, .cards__card--3, .cards__card--4 {
  animation: translate 500ms backwards;
  animation-timing-function: linear;
}
.cards__card--1:hover, .cards__card--2:hover, .cards__card--3:hover, .cards__card--4:hover {
  box-shadow: 0px 5px 10px rgb(51, 51, 51);
}
@keyframes translate {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cards__card--1 {
  animation-delay: 200ms;
}
.cards__card--2 {
  animation-delay: 400ms;
}
.cards__card--3 {
  animation-delay: 600ms;
}
.cards__card--4 {
  animation-delay: 800ms;
}
.cards__card__progress {
  width: 0;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
  background-color: #99E2D0;
  transition: width 500ms ease;
}
.cards__card__icone {
  padding: 26px;
  color: white;
  font-size: 1.3em;
  transition: 500ms;
}
.cards__card:hover > .cards__card__progress {
  width: 25%;
}
.cards__card:hover > .cards__card__progress span {
  font-size: 1.3em;
  display: inline-block;
  transform: rotate(360deg);
  transition: 600ms ease-out;
}
.cards__card__texte {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.cards__card__texte__title {
  padding: 10px 10px 5px 10px;
  margin: 0;
  font-size: 1.1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cards__card__texte__title__subtitle { /*p*/
  padding: 0 10px 10px;
  margin: 0;
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.price {
  padding-right: 20px;
  font-size: 0.9em;
  font-weight: bold;
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.card__icone {
  color: white;
}

/*--MEDIA QUERIES MENU 777px--*/
@media (min-width: 777px) {
  .title {
    flex: 1;
    width: 30%;
  }
}
/*--MEDIA QUERIES MENU 992px--*/
@media (min-width: 992px) {
  .header {
    width: 27%;
    margin-left: auto;
    margin-right: auto;
  }
  .container__main {
    padding-bottom: 0;
  }
  .restaurants__title {
    padding-top: 10px;
  }
}
