/*HEARTH*/
/*--MEDIA QUERIES MENU--*/
/*--MEDIA QUERIES STYLE 777px--*/
/*--MEDIA QUERIES STYLE 992px--*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "sans-serif";
  font-family: "Shrikhand", "sans-serif";
}

/*--BUTTON--*/
.button {
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button__color {
  border-radius: 30px;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 0.95em;
  width: 62%;
  height: 50px;
  background: linear-gradient(#e872da, #9356dc);
  box-shadow: 0px 5px 20px rgb(196, 196, 196);
  margin-bottom: 50px;
  cursor: pointer;
}
.button__color:hover {
  box-shadow: 0px 5px 20px rgb(145, 145, 145);
  opacity: 0.9;
  transition: opacity 400ms;
}

.restaurants__content {
  display: flex;
  align-items: center;
}
.restaurants__content__texte {
  width: 80%;
  margin-left: 10px;
}
.restaurants__content__texte__title {
  margin-top: 10px;
  margin-bottom: 5px;
}
.restaurants__content__texte__title__texte {
  margin-top: 0px;
}

.restaurants__content__icone {
  display: flex;
  justify-content: center;
  width: 20%;
}
.restaurants__content__icone .fa-heart {
  font-size: 1.5em;
}
.restaurants__content__icone__wrap {
  width: 25px;
  position: absolute;
  margin-top: -5px;
  margin-left: 0px;
  opacity: 0;
}
.restaurants__content__icone__wrap:hover {
  opacity: 1;
  transition: 800ms;
}
.restaurants__content__icone__wrap__image {
  width: 100%;
}
.restaurants__content__icone__wrap__effect--colorA {
  width: 50px;
  height: 40px;
  position: absolute;
  margin-top: -50px;
  margin-left: -13px;
  background-color: white;
}
.restaurants__content__icone__wrap__effect--colorA:hover {
  margin-top: -60px;
  transition: 600ms;
  transform: scale(0.05);
}
.restaurants__content__icone__wrap__effect--colorB {
  width: 50px;
  height: 40px;
  position: absolute;
  margin-top: -50px;
  margin-left: -13px;
  background-color: #f6f6f6;
}
.restaurants__content__icone__wrap__effect--colorB:hover {
  margin-top: -60px;
  transition: 600ms;
  transform: scale(0.05);
}

/*HEADER*/
img.logo {
  width: 100%;
  font-size: 10px;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 20px;
  padding-bottom: 15px;
}

/*FOOTER*/
.footer {
  background-color: #353535;
  width: 100%;
}

.footer__title {
  margin-left: 20px;
  margin-top: 20px;
  font-size: larger;
  color: white;
  font-family: "shrikhand", sans-serif;
  font-weight: 100;
}

.footer__list {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 30px;
  color: white;
}
.footer__list__icone {
  display: flex;
  align-items: center;
}

footer p {
  margin: 5px 0 5px 0;
}

a.footer__link {
  width: 200px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.fa-solid, .fas {
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
}

.fa footer {
  padding: 10px;
}

i.fa-solid.fa-utensils.fa-footer {
  margin-right: 15px;
}

i.fa-solid.fa-handshake-angle.fa-footer {
  margin-right: 10px;
}

ul {
  margin: 0;
  padding: 0;
  display: contents;
  list-style-type: none;
}

li {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  /*max-width: 375px;*/
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", "sans-serif";
}

/*LOCATION*/
.location {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
  border-top: solid 4px rgba(202, 202, 202, 0.4588235294);
}
.location__icone {
  font-size: 0.8em;
  margin-right: 20px;
}
.location__icone__texte {
  font-weight: 600;
}

.search {
  border-radius: 0;
  border: 0;
}

/*MAIN*/
.main {
  width: 100%;
  text-align: center;
  background-color: #f6f6f6;
}
.main__texte {
  margin-top: 0;
  margin-bottom: 30px;
}

/*FONCTIONING*/
.fonctioning {
  width: 100%;
}
.fonctioning__title {
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 15px;
}

.btn__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.btn {
  display: flex;
  border-radius: 20px;
  width: 85%;
  height: 70px;
  margin-bottom: 15px;
  box-shadow: 0px 5px 20px rgb(196, 196, 196);
}
.btn:hover {
  cursor: pointer;
  color: #9356dc;
  background-color: #f5edff;
  box-shadow: 0px 5px 20px rgb(145, 145, 145);
  opacity: 0.8;
}
.btn__form {
  background-color: #9356dc;
  border-radius: 44px;
  width: 25px;
  height: 25px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-right: 10px;
  margin-left: -15px;
  margin-top: 25px;
  padding: 10px;
  z-index: 1;
  opacity: 1;
}
.btn__form__content {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 15px;
}
.btn__form__content__icone {
  width: 15%;
}
.btn__form__content__text {
  font-weight: 600;
  color: black;
}

/*RESTAURANTS*/
.restaurants {
  width: 100%;
  background-color: #f6f6f6;
}
.restaurants__title {
  margin-left: 20px;
  margin-top: 40px;
}

.restaurants__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1000px;
  margin-bottom: 20px;
}
.restaurants__cards__card {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 23%;
  margin-bottom: 15px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 5px 20px rgb(196, 196, 196);
  color: black;
}
.restaurants__cards__card:hover {
  cursor: pointer;
  box-shadow: 0px 5px 20px rgb(145, 145, 145);
}
.restaurants__cards__card__image__wrap {
  position: relative;
  overflow: hidden;
  height: 70%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurants__cards__card__image__wrap__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.restaurants__cards__card__image__wrap__image__texte[data-active=true] {
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  margin-left: 73%;
  font-size: 0.9em;
  font-weight: 600;
  padding: 5px 10px 5px 10px;
}

.restaurants__content {
  display: flex;
  align-items: center;
}
.restaurants__content__texte {
  width: 80%;
  margin-left: 10px;
}
.restaurants__content__texte__title {
  margin-top: 10px;
  margin-bottom: 5px;
}
.restaurants__content__texte__title__texte {
  margin-top: 0px;
}

/*--MEDIA QUERIES STYLE 777px--*/
@media (min-width: 777px) {
  h2.fonctioning__title {
    margin-top: 15px;
  }
  .btn__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
  }
  .btn {
    margin: 20px;
  }
  .btn__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0px;
  }
  .restaurants__cards {
    display: flex;
    flex-direction: row;
    height: 400px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: center;
  }
  a.restaurants__cards__card {
    margin: 10px;
    height: 200px;
    width: 47%;
  }
  .restaurants__title {
    margin-left: 20px;
    margin-top: 15px;
  }
  .button {
    padding-top: 20px;
  }
}
/*--MEDIA QUERIES STYLE 992px--*/
@media (min-width: 992px) {
  .restaurants__cards__card__image__wrap {
    height: 90%;
  }
}
/*HEADER*/
.icone__return {
  display: flex;
  align-items: center;
  align-items: center;
  padding: 0 20px;
}

.fa-arrow-left {
  color: black;
}

.main__menu {
  width: 100%;
  position: relative;
}
.main__menu__content {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -50px;
  position: relative;
}
.main__menu__content__title {
  font-family: "Shrikhand", "sans-serif";
  font-size: 1.6em;
  margin: 40px 10px 25px 15px;
  flex: 1;
}

/*--MENU*/
.image__menu__wrap {
  position: relative;
  height: 250px;
  width: 100%;
}

.image__menu__wrap__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.title {
  width: 100%;
  background-color: #f6f6f6;
  margin: 0;
}

.subtitle {
  padding: 10px 0px 3px 0px;
  margin: 0;
  width: 42px;
  border-bottom: #99E2D0 solid 3px;
  margin-left: 15px;
}

.cards {
  height: 270px;
}
.cards__card {
  width: 92%;
  display: flex;
  height: 70px;
  border-radius: 15px;
  background-color: white;
  margin: 15px;
  box-shadow: 0px 5px 20px rgb(196, 196, 196);
  cursor: pointer;
}
.cards__card--1, .cards__card--2, .cards__card--3 {
  animation: card 500ms backwards;
  animation-timing-function: linear;
  transform-origin: center;
}
@keyframes card {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cards__card--1 {
  animation-delay: 200ms;
}
.cards__card--2 {
  animation-delay: 400ms;
}
.cards__card--3 {
  animation-delay: 600ms;
}
.cards__card__progress {
  width: 0%;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  color: white;
  overflow: hidden;
}
.cards__card:hover > .cards__card__progress {
  transition: 600ms ease;
  width: 20%;
}
.cards__card:hover > .cards__card__progress .fa-circle-check {
  display: flex;
  align-items: center;
  transform: rotateZ(360deg);
  transition: 500ms;
  font-size: 1.3em;
  color: white;
}
.cards__card__texte {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.cards__card__texte__title { /*h3*/
  padding: 10px 10px 5px 10px;
  margin: 0;
  font-size: 1.1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cards__card__texte__title__subtitle { /*p*/
  padding: 0 10px 10px;
  margin: 0;
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.price {
  padding-right: 20px;
  font-size: 0.9em;
  font-weight: bold;
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.fa-circle-check {
  padding: 26px;
  font-size: 1.3em;
  color: white;
}

.card__icone {
  color: white;
}

/*--MEDIA QUERIES MENU--*/
@media (min-width: 777px) {
  .button {
    padding-top: 40px;
  }
  .cards {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  .cards__card {
    height: 150px;
  }
  .cards__card__texte__title__subtitle {
    white-space: break-spaces;
  }
  .cards__card__texte__title {
    white-space: break-spaces;
  }
  .cards__card .price {
    align-items: center;
  }
}
