.button {
    width: 100%;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    

    &__color {
    border-radius: 30px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 0.95em;
    width: 62%;
    height: 50px;
    background: linear-gradient(#e872da ,#9356dc);
    box-shadow: $box-shadow;
    margin-bottom: 50px;
    cursor: pointer;  

        &:hover{
        box-shadow: 0px 5px 20px rgb(145, 145, 145);
        opacity: 0.9;
        transition: opacity 400ms;
        }
    }
}