* {box-sizing: border-box}
body
{
    /*max-width: 375px;*/
    max-width: 1440px;
    margin: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto' , 'sans-serif'  ;
}

/*HEADER*/

img.logo {
    width: 100%;
    font-size: 10px;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 20px;
    padding-bottom: 15px;
}

/*LOCATION*/

.location{
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    border-top: solid 4px #cacaca75;

    &__icone {
        font-size: 0.8em;
        margin-right: 20px;

        &__texte {
            font-weight: 600;
        }
    }
}
.search{
    border-radius: 0;
    border: 0;
}

/*MAIN*/

$box-shadow: 0px 5px 20px rgb(196, 196, 196);

.main {
    width: 100%;
    text-align: center;
    background-color: #f6f6f6;

    &__texte {
    margin-top: 0;
    margin-bottom: 30px;
    }
}
.main__button {
    border-radius: 30px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 0.95em;
    width: 62%;
    height: 50px;
    background: linear-gradient(#e872da ,#9356dc);
    box-shadow: $box-shadow;
    margin-bottom: 50px;  

    &:hover{
    box-shadow: 0px 5px 20px rgb(145, 145, 145);
    opacity: 0.8;
    }
}

/*FONCTIONING*/

$color:white;
$box-shadow: 0px 5px 20px rgb(196, 196, 196);
$color-primary:#9356dc;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;

.fonctioning {
    width: 100%;

    &__title{
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 15px;
    }
}
.btn__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
}
.btn {
    display: flex;
    border-radius: 20px;
    width: 85%;
    height: 70px;
    margin-left: 30px;
    margin-bottom: 15px;
    box-shadow: $box-shadow;

    &:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition-duration: 200ms;
    color: $color-primary;
    background-color: #f5edff;
    box-shadow:darken ($box-shadow, 10); /*assombrissement*/
    } 

    &__form {
        background-color: $color-primary;
        border-radius: 44px;
        width: 25px;
        display: flex;
        height: 25px;
        color: $color;
        align-items: center;
        justify-content: center;
        border: none;
        margin-right: 10px;
        margin-left: -15px;
        margin-top: 25px;
        padding: 10px;
        z-index: 1;
    }
    &__form__content {
        display: flex;
        align-items: center;
        width: 100%;
        margin-left: 15px;
        
        &__icone{
            width: 15%;
        }
        &__text {
            font-weight: 600;
            color: black;
        }
    }
}

/*RESTAURANTS*/

.restaurants {
    width: 100%;
    background-color: #f6f6f6;
}
.restaurants__title{
    margin-left:20px;
    margin-top: 40px;
}
.restaurants__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    margin-bottom: 20px;

    &__card{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 23%;
    margin-bottom: 15px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: $box-shadow;

        &:hover{
        transform: scale(1.1);
        cursor: pointer;
        transition-duration: 200ms;
        box-shadow: 0px 5px 20px rgb(145, 145, 145);
        }
    }

        &__card__image__wrap{   
        position: relative;
        overflow: hidden;
        height: 70%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        overflow: hidden;

        &__image{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover; 

            &__texte[data-active=true]{
            background-color: $color-tertiary;
            color: #008766;
            position: absolute;
            margin-left: 73%;
            font-size: 0.9em;
            font-weight: 600;
            padding: 5px 10px 5px 10px;
            }
        }
    }
}
.restaurants__content {
    display: flex;
    align-items: center;

    &__texte {
        width: 80%;
        margin-left: 10px;

        &__title {
            margin-top: 10px;
            margin-bottom: 5px;

            &__texte {
                margin-top: 0px;
            }
        }
    }
}
.restaurants__content__icone {
    display: flex;
    justify-content: center;
    width: 20%;

    .fa-heart{
        font-size: 1.5em;
    }
    &__wrap {
    width: 25px;
    position: absolute;
    margin-top: -5px;
    margin-left: 0px;
    opacity: 0;
    
        &:hover{
            opacity:1;
            transition: 800ms;
        }

        &__image{
            width: 100%;
        }
   
        &__effect{
        width: 50px;
        height: 40px;
        position: absolute;
        margin-top: -50px;
        margin-left: -13px;
        background-color: $color;

            &:hover{  
            margin-top: -60px;
            transition: 800ms;
            transform: scale(.05);
            }  
        }
    }
}

/*FOOTER*/

$color:white;

.footer{
    background-color: #353535;
    width: 100%;
}
.footer__title{
    margin-left: 20px;
    margin-top: 20px;
    font-size: larger;
    color: $color;
    font-family: 'shrikhand', sans-serif;
    font-weight: 100;
}
.footer__list{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 30px;
    color: $color;

    &__icone {
    display: flex;
    align-items: center;
    }
}
footer p{
    margin: 5px 0 5px 0;
}
a.footer__link{
    width: 200px;
    color: $color;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.fa-solid, .fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
}
.fa footer{
    padding: 10px;
}
i.fa-solid.fa-utensils.fa-footer {
    margin-right: 15px;
}
i.fa-solid.fa-handshake-angle.fa-footer {
    margin-right: 10px;
}
ul {
    margin: 0;
    padding: 0;
    display: contents;
    list-style-type: none;
}
li {
    list-style-type: none;
}
a{
    color: $color;
    text-decoration: none;
}