/*HEADER*/

.icone__return {
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.fa-arrow-left{
    color: black;
}
.main__menu{
    width: 100%;
    position: relative;

    &__content {
    width: 100%;
    display: flex;
    align-items: center;
    background-color:#f6f6f6 ;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -50px;
    position: relative;

        &__title {
        font-family: 'Shrikhand' , 'sans-serif'  ;
        font-size: 1.6em;
        padding: 15px;
        flex: 1;
        }
    }
}

/*--MENU*/
.image__menu__wrap{
    position: relative;
    height: 250px;
    width: 100%;
}
.image__menu__wrap__image{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
.title {
    background-color:#f6f6f6;
    padding-bottom: 10px;
}
.subtitle {
    padding: 10px 0px 3px 0px;
    margin: 0;
    width: 42px;
    border-bottom: $color-tertiary solid 3px;
    margin-left: 15px;
}
.cards{
        &__card {
            display: flex;
            height: 70px;
            border-radius: 15px;
            background-color: $color;
            margin: 15px;
            box-shadow: $box-shadow;
            cursor: pointer;      
        
        &--1, &--2, &--3, &--4{
            animation: card 500ms backwards;
            animation-timing-function: linear;
            transform-origin:  center;

            &:hover{
                box-shadow: 0px 5px 20px rgb(145, 145, 145);
            }
        }
        //animation
        @keyframes card {
            0% {
            transform: translateY(20px);
            opacity: 0;   
            }
            100% {
            opacity: 1; 
            } 
        }

        // boucle for animation lors du chargement 
        $anim-delai: 200ms ;
         @for $i from 1 through 4 { // pour $i cycle des elements de &--1 à &--4 
            &--#{$i} { // incremente en changeant la valeur de $i pour chaque element passé 
                animation-delay: $anim-delai * $i; // incremente le delai en * la valeur de $i recuperé a chaque cycle 
             }
        }
        
        &__progress {
            width: 0%;
            border-bottom-right-radius: 15px;
            border-top-right-radius: 15px;
            background-color: $color-tertiary;
            display: flex;
            justify-content: center;
            color: $color;
            overflow: hidden;
        }
        
        &:hover > &__progress { 
            transition: 600ms ease;
            width: 25%;
 
        .fa-circle-check{
            display: flex;
            align-items: center;
            transform: rotateZ(360deg);
            transition: 500ms ;
            font-size: 1.3em;
            color:$color;
            }
        }
        
        &__texte {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;

            &__title { /*h3*/
            padding: 10px 10px 5px 10px;
            margin: 0;
            font-size: 1.1em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

                &__subtitle {/*p*/
                padding: 0 10px 10px;
                margin: 0;
                font-size: 0.9em;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                
                }
            }
        }
    }
}

.price {
    padding-right:20px;
    font-size: 0.9em;
    font-weight: bold;
    flex: 1;
    display: flex;
    align-items: flex-end;
}
.fa-circle-check {
    padding: 26px;
    font-size: 1.3em;
    color:$color;

}
.card__icone {
    color: $color;
}

/*--MEDIA QUERIES MENU--*/

@media (min-width: 777px){

@include mediaQuerry--menu;

    }