/*HEADER*/
.icone__return {
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.logo{
    margin-left: auto;
    margin-right: auto;
}
.fa-arrow-left{
    color: black;
}
.main__menu{
    width: 100%;
    position: relative;
    cursor: pointer;

    &__content {
    width: 100%;
    display: flex;
    align-items: center;
    background-color:#f6f6f6 ;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -50px;
    position: relative;

        &__title {
        font-family: 'Shrikhand' , 'sans-serif'  ;
        font-size: map-get($font-size-menu, headertitle);
        padding: 15px;
        flex: 1;
        }
    }
}

/*--MENU*/
.image__menu__wrap{
    position: relative;
    height: 250px;
    width: 100%;
}
.image__menu__wrap__image{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
.title {
    background-color:#f6f6f6;
    padding-bottom: 10px;
}

.subtitle {
    padding: 10px 0px 3px 0px;
    margin: 0;
    width: 42px;
    border-bottom: $color-tertiary solid 3px;
    margin-left: 15px;
}
.cards{
        &__card {
            display: flex;
            height: 70px;
            border-radius: 15px;
            background-color: $color;
            margin: 15px;
            box-shadow: $box-shadow;
            transition: transform 2s; 
            overflow: hidden;

        &--1, &--2, &--3, &--4{
            animation: translate 500ms backwards; 
            animation-timing-function: linear; 
            
            &:hover{
                box-shadow: 0px 5px 10px rgb(51, 51, 51);  
            }
        }
        //animation translation de la card
        @keyframes translate {
            0% {
            transform: translateY(20px);
            opacity: 0; 
            }
            100% {
            opacity: 1;
            } 
        }
        
        // Apparition des cards les unes apres les autres avec un délai décalé 
        $anim-delai: 200ms ; //base délai 
        @for $i from 1 through 4 { // répète 4 fois le bloc de code, a chaque itération change la valeur de $i
            &--#{$i} { // incremente le delai de la valeur de $i
                animation-delay: $anim-delai * $i; // incremente le delai en * la valeur de $i recuperé a chaque cycle 
            }
        }
        
        &__progress {  
            width: 0;
            border-bottom-right-radius: 15px;
            border-top-right-radius: 15px;  
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color;
            overflow: hidden;
            background-color: $color-tertiary;
            transition: width 500ms ease;  
        }

        &__icone{
            padding: 26px;
            color:$color;
            font-size: map-get($font-size-menu, facircle);
            transition: 500ms;
        }

        //parent icone passe la valeur de la width de 0 a 25% avec son enfant 
        &:hover > &__progress { 
            width: 25%;

        //rotation de l'icone    
            span{
                font-size: 1.3em;
                display: inline-block;
                transform: rotate(360deg);
                transition: 600ms ease-out;
            }                  
        }
        
        &__texte {
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;

            &__title { //h3
                padding: 10px 10px 5px 10px;
                margin: 0;
                font-size: map-get($font-size-menu, menutitle);
                @include ellipsis;

                &__subtitle {/*p*/
                    padding: 0 10px 10px;
                    margin: 0;
                    font-size: map-get($font-size-menu, menusubtitle);
                    @include ellipsis;
                }
            }
        }
    }
}

.price {
    padding-right:20px;
    font-size: map-get($font-size-menu, price);
    font-weight: bold;
    flex: 1;
    display: flex;
    align-items: flex-end;
}

.card__icone {
    color: $color;
}
/*--MEDIA QUERIES MENU 777px--*/

@media (min-width: 777px){

    .title {
        flex: 1;
        width: 30%;
    } 
}

/*--MEDIA QUERIES MENU 992px--*/

@media (min-width: 992px){

    .header{
        width: 27%;
        margin-left: auto;
        margin-right: auto;
    }
    .container__main{
    padding-bottom: 0;
    }
    .restaurants__title{
        padding-top: 10px;
    }
}