/*HEADER*/
body{

}
img.logo {
    width: 100%;
    font-size: 10px;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 20px;
    padding-bottom: 15px;
    
}
.main__menu{
    width: 100%;
}
.main__menu__content {
    width: 100%;
    display: flex;
    align-items: center;
    background-color:#f6f6f6 ;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -50px;

    &__title {
    font-family: 'Shrikhand' , 'sans-serif'  ;
    font-size: 1.6em;
    margin: 40px 10px 25px 15px;
    
    }
}
.image__menu{
    width: 100%;
}
.restaurants__content__icone__wrap__effect {
    background-color: #f6f6f6;
}
.entry {
    width: 100%;
    background-color:#f6f6f6 ;
    margin: 0;
}
.entry__title {
    padding: 10px 0px 3px 0px;
    margin: 0;
    width: 42px;
    border-bottom: $color-tertiary solid 3px;
    margin-left: 15px;
}
.entry__cards__card {
    display: flex;
    height: 65px;
    border-radius: 15px;
    background-color: $color;
    margin: 10px;
    box-shadow: $box-shadow;
    
    &__texte {/*boutton action*/
    width: 80%;

        &__title {
        padding: 10px 10px 5px 10px;
        margin: 0;
        font-size: 1.1em;

            &__subtitle {
            padding: 0 10px 10px;
            margin: 0;
            font-size: 0.9em;
            }
        }
    }
}
.entry__cards__card__progress {/*conainer bar de progression*/
    width: 20%;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    
   
    &__bar:hover{/*remplissage de la bar*/
        
        background-color: $color-tertiary;
        color: $color;
        
        transition: 1s;
        transform: translate(-20px);
        
    }
}
.price {
    padding: 20px 20px 10px 20px;
}
i.fa-solid.fa-circle-check {
    padding: 20px;
    font-size: 1.1em;
    margin-top: 10px;
}
.entry__card__icone {
    color: $color;
}
/*FOOTER*/

$color:white;

.footer{
    background-color: #353535;
    width: 100%;
}
.footer__title{
    margin-left: 20px;
    margin-top: 20px;
    font-size: larger;
    color: $color;
    font-family: 'shrikhand', sans-serif;
    font-weight: 100;
}
.footer__list{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 30px;
    color: $color;

    &__icone {
    display: flex;
    align-items: center;
    }
}
footer p{
    margin: 5px 0 5px 0;
}
a.footer__link{
    width: 200px;
    color: $color;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.fa-solid, .fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
}
.fa footer{
    padding: 15px;
}
.fa-footer {
    margin-right: 15px;
}
ul {
    margin: 0;
    padding: 0;
    display: contents;
    list-style-type: none;
}
li {
    list-style-type: none;
}
a{
    color: $color;
    text-decoration: none;
}