* {box-sizing: border-box}

body
{
    /*max-width: 375px;*/
    max-width: 1440px;
    margin: auto; 
    font-family: 'Roboto' , 'sans-serif'  ;
}

/*LOCATION*/

.location{
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    border-top: solid 4px #cacaca75;

    &__icone {
        font-size: map-get($font-size-style, icone);
        margin-right: 20px;
    }

    &__texte {
        font-weight: 600;
    } 
}
.search{
    border-radius: 0;
    border: 0;
}

/*MAIN*/

.container__main{
    background-color:#f6f6f6 ;
    padding-top: 10px;
    padding-bottom: 30px;
}
.main {

    text-align: center;
    
    &__texte {
    margin: 0;
    }
}

/*FONCTIONING*/

.fonctioning {
    &__title{
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 15px;
    }
}
.btn__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn {
    display: flex;
    align-items: center;
    border-radius: 20px;
    width: 85%;
    height: 70px;
    margin: 10px;
    box-shadow: $box-shadow;
    transition: box-shadow 600ms, background-color 600ms, color 600ms;

    &:hover {
    cursor: pointer;
    color: $color-primary;
    background-color: #f5edff;
    box-shadow: 0px 5px 10px rgb(51, 51, 51);
    } 

    &__form {
        background-color: $color-primary;
        border-radius: 44px;
        width: 25px;
        height: 25px;
        color: $color;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        margin-left: -15px;
        padding: 10px; 
    }

    &__form__content {
        display: flex;
        align-items: center;
        width: 100%;
        margin-left: 15px;
        
        &__icone{
            width: 15%;
        }

        &__text {
            font-weight: 600;
            color: black;
        }
    }
}

/*RESTAURANTS*/

.restaurants {
    width: 100%;
    background-color: #f6f6f6;
    margin: 0;

    &__title{
    margin-left: 20px;
    margin-top: 50px;
    padding-top: 50px;
    }
}

.restaurants__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 1000px;
    padding-bottom: 50px;

    &__card{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 23%;
    background-color: $color;
    border-radius: 20px;
    box-shadow: $box-shadow;
    color: black;
    transition: box-shadow 500ms;

        &:hover{
        cursor: pointer;
        box-shadow: 0px 5px 10px rgb(51, 51, 51);
        }
    }

        &__card__image__wrap{   
        position: relative;
        overflow: hidden;
        height: 70%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        &__image{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover; 

            &__texte[data-active=true]{
            background-color: $color-tertiary;
            color: #008766;
            position: absolute;
            margin-left: 72%;
            font-size: map-get($font-size-style, texte);
            font-weight: 600;
            padding: 5px 10px 5px 10px;
            }
        }
    }
}
.restaurants__content {
    display: flex;
    align-items: center;

    &__texte {
        width: 80%;
        margin-left: 10px;

        &__title {
            margin-top: 10px;
            margin-bottom: 5px;
        }
        
        &__texte {
            margin-top: 0px;
        }  
    }
}

/*--MEDIA QUERIES STYLE 777px--*/

@media (min-width: 777px){
    .container__section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;     
    } 
    h2.fonctioning__title {
        margin-top: 15px;
        margin-bottom: 0px;
    }
    .btn__container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .btn{
        margin: 20px;
    }
    .restaurants__cards {
        display: flex;
        flex-direction: row;
        height: 480px;
        flex-wrap: wrap;
        justify-content: space-around;
    
        &__card {
            height: 200px;
            width: 47%;
        }
    }
    .restaurants__title {
        margin-left: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

/*--MEDIA QUERIES STYLE 992px--*/

@media (min-width: 992px){
    
    .restaurants__cards__card__image__wrap {
        height: 90%;
    }
    .restaurants__cards__card {
        height: 415px;
        width: 22%;
    
        &__image__wrap__image__texte[data-active=true] {
            margin-left: 60%;
        }
    }
}