/*HEARTH*/
@mixin hoverHearth{
    &:hover{  
        margin-top: -60px;
        transition: 1000ms;
        transform: scale(.05);
        cursor: pointer;
        }
}
@mixin effect--color--value {
    width: 50px;
    height: 40px;
    position: absolute;
    margin-top: -50px;
    margin-left: -12px;
    z-index: 1;
}
/*--MEDIA QUERIES MENU--*/
@mixin mediaQuerry--menu{

}
/*--MEDIA QUERIES STYLE 777px--*/
@mixin mediaQuerry--style--777{

    .container__section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;     
    } 
    .title {
        flex: 1;
    } 
    h2.fonctioning__title {
        margin-top: 15px;
        margin-bottom: 0px;
    }
    .btn__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 40px;
    }
    .btn{
        margin: 20px;
    }
    .btn__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0px;
    }
    .restaurants__cards {
        display: flex;
        flex-direction: row;
        height: 480px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .restaurants__cards__card {
        height: 200px;
        width: 47%;
    }
    .restaurants__title {
        margin-left: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
/*--MEDIA QUERIES STYLE 992px--*/
@mixin mediaQuerry--style--992{
    
    .restaurants__cards__card__image__wrap {
        height: 90%;
    }
    .restaurants__cards__card {
        height: 415px;
        width: 22%;
    
        &__image__wrap__image__texte[data-active=true] {
            margin-left: 60%;
        }
    }
}