/*HEARTH*/
@mixin hoverHearth{
    &:hover{  
        margin-top: -60px;
        transition: 1000ms;
        transform: scale(.05);
        cursor: pointer;
        }
}
@mixin effect--color--value {
    width: 50px;
    height: 40px;
    position: absolute;
    margin-top: -50px;
    margin-left: -12px;
    z-index: 1;
}
/*--MEDIA QUERIES MENU 777px--*/
@mixin mediaQuerry--menu--777{
    
}
/*--MEDIA QUERIES MENU 992px--*/
@mixin mediaQuerry--menu--992{
    .header{
        width: 27%;
        margin-left: auto;
        margin-right: auto;
    }
    .main__texte{
        margin-bottom: 10px;
    }
    .button__color{
        margin-top: 15px;
        margin-bottom: 35px;
    }
    .restaurants__title{
        padding-top: 10px;
    }
}
/*--MEDIA QUERIES STYLE 777px--*/
@mixin mediaQuerry--style--777{
    .container__section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;     
    } 
    .title {
        flex: 1;
    } 
    h2.fonctioning__title {
        margin-top: 15px;
        margin-bottom: 0px;
    }
    .btn__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 40px;
    }
    .btn{
        margin: 20px;
    }
    .restaurants__cards {
        display: flex;
        flex-direction: row;
        height: 480px;
        flex-wrap: wrap;
        justify-content: space-around;
    
    &__card {
        height: 200px;
        width: 47%;
    }
}
    .restaurants__title {
        margin-left: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
/*--MEDIA QUERIES STYLE 992px--*/
@mixin mediaQuerry--style--992{
    
    .restaurants__cards__card__image__wrap {
        height: 90%;
    }
    .restaurants__cards__card {
        height: 415px;
        width: 22%;
    
        &__image__wrap__image__texte[data-active=true] {
            margin-left: 60%;
        }
    }
}
/*--LOADER--*/
@mixin loader{

.container{ 

    //placement du loader au centre
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    background: linear-gradient(#e872da ,#9356dc);
    transition: opacity 5s ease-in-out, visibility ease-in-out;
    }

    .container.hidden {
        opacity: 0;
        visibility: hidden;
    }
    
    .container__loader{

    //création du loader
    border: 5px solid black ;
    box-shadow: $box-shadow;
    filter: brightness(1.5);
    border-top: 5px solid $color-secondary;
    border-bottom: 5px solid $color-primary;
    border-radius: 50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: rotate 1s ease-in-out infinite;
    top: 50%;
    left: 50%;
    }

    @keyframes rotate{
        0%{
            transform: rotate(0deg);
            opacity: 0;
        }
        100%{
            transform: rotate(360deg);
            opacity: 1;
        }
    }

    .container__circle__circle{
        
    //création du loader
    border: 10px solid $color-secondary ;
    box-shadow: $box-shadow;
    filter: brightness(1.5);
    border-top: 10px solid black;
    border-radius: 50%;
    rotate: 45deg;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    animation: rotatecircle 1s ease-in-out infinite;
    }

    @keyframes rotatecircle{
        0%{
            transform: rotate(0deg);
            opacity: 0;
        }
        100%{
            transform: rotate(-360deg);
            opacity: 1;
        }
    }
    .title__loader{
        filter: drop-shadow(4px -1px 2px white);
        animation: translate 500ms ease-in ;
        position: absolute;
    }
    @keyframes translate{
        0%{
            transform: translateY(0);
            opacity: 0;
        }
        100%{
            transform: translateY(20%);
            opacity: 1;
        }
    }
}
