//*VARIALES*//
$color:white;
$color-primary:#9356dc;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$box-shadow: 0px 5px 20px rgb(196, 196, 196);

//*MAPS*//
//style
$font-size-style:(icone:1em, texte:0.8em);

//menu
$font-size-menu:(headertitle:1.6em, facircle:1.3em, menutitle:1.1em, menusubtitle:0.9em, price:0.9em);

